body {
    overflow-x: hidden;
    background: white;
    font-family: 'Andika', sans-serif;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: black;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
/*    text-transform: uppercase;*/
    font-family: 'Amatic SC', cursive;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-weight: 700;
}

.img-full{
    width: 100%;
}

/*envoltura*/
.wrapp{
    padding:40px 60px;
}

/*titulo*/
nav > div.row > .titulo{
    color:white;
}

nav > div.row > .titulo > div.container > h2 {
    font-family: 'Andika', sans-serif;
}

/*navegacion*/
nav > div.row > .titulo > div.container > a > h1{
    color:white;
   font-size: 60px;
}

.navbar-default {
   background-color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 7px 5px 13px #817E7E;
        padding: 4px;
 
}

.navbar-default .navbar-nav > li > a{
    color: #3F51B5;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    color:  white;
    background-color: #0E4C91;
}

.btn-default {
    color: #ffffff;
    background-color: rgba(149, 165, 166, 0);
    border-color: #FF9800;
    padding: 0;
 }

 .btn{
    padding: 12px;
    margin-top: 7px;
 }

/*envoltura*/
.main-content{
     padding-top: 260px;
     padding-bottom: 0;
}

.center-menu{
   text-align: center;
    margin-left: 35%;
    margin-right: 28%;
}


/*paleta de colores
naranja:#F46C2D
marrom:#FFCCBC
azul:#595959
rosa:#D66296
botas:#34544C;
hueso:#F5F1F2;

*/

.sobre-mi{
    background-color: #F5F1F2;
}
